<%= form_with(model: [@post, @post.comments.build]) do |f| %>
  <div class = "">
    <%= f.text_area :body,placeholder: "Comment here..." , class: "form-control"%>
    <%= f.submit "Reply", class: "btn btn-primary mt-1" %>
  </div>
<% end %>